/**
 * This work is licensed under a Creative Commons Attribution 4.0 International License.
 * http://creativecommons.org/licenses/by/4.0/
 *
 * A dark theme for crates.io.
 */

$lighter: 5%;

$site-color: #ddd;
$site-background: #222;
$page-background: #333;
$frame-background: #404040;

@-moz-document domain(crates.io) {
    // MAIN

    html {
        background: $site-background;
    }

    #main {
        color: $site-color;
        background-color: $page-background;
    }

    #header, #mobile-search {
        input.search {
            color: #ccc9c9;
            background-color: #4a4a4a;
            background-image: none;
        }
    }

    ul.dropdown {
        $color: #d0cdcd;
        $background-color: #242424;
        $background-color--hover: lighten($background-color, $lighter);

        background: $background-color;
        border-color: #66655f;

        li a {
            color: $color !important;
            &:hover {
                background-color: $background-color--hover;
            }
        }
    }

    a.arrow, .arrow-in-list {
        svg {
            background: transparent;
        }
    }

    // UNSTABLE

    // Pagination:
    ._pagination_4qvbew a.active, ._pagination_4qvbew a:hover {
        background-color: #515151;
    }
    ._pagination_4qvbew a.active {
        color: $site-color;
    }

    // MAIN PAGE

    .crate-lists li a, {
        $background-color: $frame-background;
        $background-color--hover: lighten($background-color, $lighter);

        color: #f9f9f9;
        background-color: $background-color;

        border-radius: 0.5em;

        &:hover {
            background-color: $background-color--hover;
        }
    }

    .yellow-button {
        background: #fdc452;
        color: #383838;
        &:hover {
            background: #fdc452;
            color: #007940;
        }
    }

    // CRATE PAGE

    #crates-heading, .crate-info .install {
        background-color: $frame-background;
        h2 {
            color: #aaa;
        }
    }

    .crate-toml-copy button, .crate-toml-copy button:active {
        $background-color: #bfbfbf;
        $background-color--hover: lighten($background-color, $lighter);

        background-color: $background-color;

        &:hover {
            background-color: $background-color--hover;
        }
    }

    .crate-info .crate-readme p code {
        background-color: #242424;
    }

    .white-rows {
        background-color: $frame-background;

        .row {
            border-bottom: 2px solid #646464;
        }
    }

    .yanked {
        color: #d75959;
    }

    // "Sort by" button:
    #results {
        a.dropdown {
            background-color: $frame-background;
        }
        .cur, .total {
            color: #fff;
        }
    }

    // "ALL CRATES" PAGE

    #selection {
        $background-color: $frame-background;
        $background-color--hover: lighten($background-color, 15%);

        background-color: $background-color;
        a.active, a:hover {
            background-color: $background-color--hover;
        }
    }

    .crate .info a, .crate .stats, span.small {
        color: $site-color;
    }
}
